:root {
  --color1: #272044;
}

body {
  font-family: Poppins, sans-serif;
  background-color: var(--color1);
  line-height: 1;
  letter-spacing: 0;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.6)),
    url("../images/Lisbon-bridge.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.1em;
  padding: 200px 0;
  margin: 0 auto;
  max-width: 1400px;
}
section {
  padding: 100px 0;
  margin: 0 auto;
}
h1 {
  font-weight: 700;
  font-size: 96px;
  padding-top: 0.4em;
}
header h3 {
  font-weight: 900;
  letter-spacing: 5px;
  font-size: 24px;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  padding: 1em;
}
header a {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background-color: white;
  padding: 2em;
  text-decoration: none;
  color: var(--color1);
  margin: 0;
  letter-spacing: 3px;
}
main {
  background-color: white;
  max-width: 1400px;
  margin: 0 auto;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 5px;
  color: rgba(39, 32, 68, 0.3);
  text-transform: uppercase;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}
main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url(/images/Lisbon-houses.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;

  letter-spacing: 0%;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}
footer a {
  text-decoration: none;
  color: white;
  opacity: 0.8;
  font-weight: 400;
  font-size: 16px;

  letter-spacing: 0px;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer li {
  margin-top: 10px;
}
section.primary {
  max-width: 1200px;
}

section.secondary {
  background-color: #f8f8f8;
  padding: 60px;
}
h4.card {
  font-weight: 400;
  font-size: 16px;
}
h5.card {
  font-weight: 700;
  font-size: 13px;
  color: var(--color1);
}

p.card {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}
.card {
  color: var(--color1);
}
.cardhead {
  font-weight: 700;
  font-size: 24px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-1narrow-2wide-colums {
  grid-template-columns: 1fr 2fr 2fr;
}
.img-responsive {
  max-width: 100%;
}

@media (max-width: 900px) {
  header {
    line-height: 1;
    max-width: 850px;
    padding: 50px 0;
  }
  h1 {
    font-size: 48px;
    padding: 0;
  }
  header h3 {
    font-size: 12px;
    padding: 0;
    margin: 0;
  }
  header h2 {
    font-size: 20px;
    padding: 0;
    padding-bottom: 20px;
  }
  header a {
    padding: 18px 28px;
  }
  section {
    padding: 30px 0;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}
